.header {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 32px;
}

.emailText {
  color: black;
  font-weight: bold;
  font-size: 14px;
}

.aboutText {
  font-size: 16px;
  line-height: 32px;
}

.aboutContainer {
  padding-left: 80px;
}

.designJourneyContainer {
  margin-top: 96px;
}
.achievementContainer {
  margin-top: 96px;
}

.profilePic {
  max-width: 254px;
}

@media (max-width: 575.98px) {
  .aboutContainer {
    padding-left: 0px;
    margin-top: 80px;
  }

  .whenNotAtWorkContainer {
    margin-top: 48px;
    margin-bottom: 48px;
  }

  .designJourneyContainer {
    display: flex;
    flex-direction: column;
  }
}
