.image {
  object-fit: contain;
  width: 100% !important;
  position: relative !important;
  height: unset !important;
}

.cta {
  background-color: #000000 !important;
  padding: 20px 48px !important;
  border-radius: 10px !important;
}

p {
  color: #000000;
}

.mt-96 {
  margin-top: 96px !important;
}

.mt-88 {
  margin-top: 88px !important;
}

.mt-80 {
  margin-top: 80px !important;
}

.mt-122 {
  margin-top: 122px !important;
}

.fs-36 {
  font-size: 36px;
}

.fs-24 {
  font-size: 24px;
}

.fs-16 {
  font-size: 16px;
}

.me-32 {
  margin-right: 32px;
}

.ps-40 {
  padding-left: 40px !important;
}

.pe-40 {
  padding-right: 40px !important;
}

.ms-32 {
  margin-left: 32px;
}

.ms-40 {
  margin-left: 40px;
}

.lh-30 {
  line-height: 30px;
}

.transition-none {
  transition: none !important;
  box-shadow: none !important;
}

.desktop {
  display: block;
}

.mobile {
  display: none;
}

@media (max-width: 575.98px) {
  .desktop {
    display: none !important;
  }

  .mobile {
    display: block !important;
  }
}
