.image {
  object-fit: contain;
  width: 100% !important;
  position: relative !important;
  height: unset !important;
}

.cta {
  background-color: #000000 !important;
  padding: 20px 48px !important;
  border-radius: 10px !important;
}

p {
  color: #000000;
}

.mt-96 {
  margin-top: 96px !important;
}

.mt-122 {
  margin-top: 122px !important;
}
