.navContainer {
  background-color: white;
}

.mainLogo {
  font-size: 20px;
  font-family: "Chivo";
  font-weight: 700;
}

.navItem {
  font-size: 16px;
  font-weight: 700;
  color: black;
  white-space: nowrap;

}

.activeNavItem {
  color: #7e52ff;
}