.projectContainer {
  padding: 48px 80px;
  border-radius: 10px;
}

.FLIGHT_CENTER {
  background: linear-gradient(121.87deg, #def6ed -10.54%, #fff7f7 98.97%);
}

.MIUU_NOTE {
  background: linear-gradient(143.4deg, #efeaff 25.84%, #feffdb 150.32%);
}

.VISUAL_DESIGN {
  background: linear-gradient(150.4deg, #ffffdd -49.3%, #ffd5e5 91%);
}

.HOTEL_REDESIGN {
  background: linear-gradient(150.4deg, #ffffdd -49.3%, #ffe7f0 91%);
}

.projectTitle {
  font-family: "Chivo", "Public_sans";
  font-weight: 700;
  font-size: 36px;
}

.durationContainer {
  color: #828282;
}

.tagContainer {
  display: block;
}

.tagContainerMobile {
  display: none;
}

.tag {
  background: #ffffff;
  border-radius: 100px;
  padding: 4px 16px;
  font-size: 14px;
  color: #4f4f4f;
  text-align: center;
  white-space: nowrap;
  margin-bottom: 8px;
}

.yearTagContainer {
  margin-bottom: 32px;
}

.ctaContainer {
  display: block;
}

.thumbnailContainerMobile {
  display: none;
}

@media (max-width: 575.98px) {
  .projectContainer {
    padding: 24px;
  }

  .tagContainer {
    display: none;
  }

  .tagContainerMobile {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 48px;
  }

  .yearTagContainer {
    margin-bottom: 16px;
  }

  .thumbnailContainer {
    display: none !important;
  }

  .ctaContainer {
    display: none;
  }

  .thumbnailContainerMobile {
    display: block;
    margin-top: 24px;
  }
}
