@import url("//fonts.googleapis.com/css2?family=Chivo:wght@400;500;600;700&family=Montserrat:wght@400;500;600;700&display=swap");
.projectContainer {
  padding: 48px 80px;
  border-radius: 10px;
}

.FLIGHT_CENTER {
  background: linear-gradient(121.87deg, #d6e5fa -10.54%, #fff9f9 98.97%);
}

.MIUU_NOTE {
  background: linear-gradient(143.4deg, #efeaff 25.84%, #feffdb 150.32%);
}

.VISUAL_DESIGN {
  background: linear-gradient(150.4deg, #ffffdd -49.3%, #ffd5e5 91%);
}

.HOTEL_REDESIGN {
  background: linear-gradient(121.87deg, #def6ed -10.54%, #fff7f7 98.97%);
}

.projectTitle {
  font-family: "Chivo", "Public_sans";
  font-weight: 700;
  font-size: 36px;
}

.durationContainer {
  color: #828282;
}

.tag {
  background: #ffffff;
  border-radius: 100px;
  padding: 4px 16px;
  font-size: 14px;
  color: #4f4f4f;
  text-align: center;
}
